@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    overflow-anchor: none !important;
    @apply /*
    */
    fixed
    top-0
    left-0
    h-screen
    w-screen
    cursor-[url(/src/assets/paw.svg),auto] 
    overflow-x-hidden 
    bg-[length()]
    bg-[url('/src/assets/bg.jpg')] bg-cover bg-fixed
    bg-no-repeat 
    font-sans
    text-blue-dark;
  }
}

@layer components {
  .range {
    @apply w-2/3 max-w-[1000px];
  }

  .wrapper {
    @apply h-[calc(100vh-100px)] w-screen overflow-y-scroll;
  }
  .btn {
    @apply text-2xl text-center h-14 w-72 rounded-3xl bg-green-light hover:bg-orange-dark;
  }
  .dialog {
    @apply relative p-10 text-xl bg-white shadow-md rounded-3xl;
  }
  .tags {
    @apply absolute left-0 top-4;
  }
  .brand {
    @apply absolute -left-[50px] top-10 h-10 w-20  rounded-md text-center text-2xl font-bold leading-10;
  }
  .title {
    @apply text-2xl font-bold;
  }
  .list-item {
    @apply pl-4 list-disc;
  }
  .line-h {
    @apply h-3 bg-blue-light;
  }
  .line-v {
    @apply w-3 bg-blue-light;
  }
  .line-box {
    @apply border-4 border-dashed rounded-lg border-gray-dark bg-gray-400/20;
  }

  .option {
    @apply flex items-center p-6 mb-4 dialog;
  }

  .arrow {
    @apply after:absolute
    after:h-0
    after:w-0
    after:border-[24px]
    after:border-l-0
    after:border-solid
    after:border-blue-light
    after:border-t-transparent
    after:border-b-transparent
    after:content-[''];
  }

  .arrow-bar {
    @apply line-v arrow relative mx-auto mb-8 h-10 after:-bottom-[30px] after:-left-[6px] after:-rotate-90 after:scale-75;
  }
}

.animate_delay-500 {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

.draggable {
  top: auto !important;
  left: auto !important;
}
